services:
  auth-api:
    build:
      context: .
      dockerfile: AuthenticationServices/Dockerfile
    container_name: auth-api
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=db;Database=BlazorGame;User Id=sa;Password=Your_strong*Password1;
      - Keycloak__Authority=http://keycloak:8080/realms/blazorgame
      - Keycloak__ClientId=blazorgame-client
      - Keycloak__RequireHttpsMetadata=false
    depends_on:
      - db
      - keycloak
    restart: unless-stopped

  blazor-client:
    build:
      context: .
      dockerfile: BlazorGame.Client/Dockerfile
    container_name: blazor-client
    ports:
      - "5001:80"
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      - auth-api
      - keycloak
    restart: unless-stopped

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: blazor-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Your_strong*Password1
    ports:
      - "14333:1433"
    volumes:
      - blazor-game-data:/var/opt/mssql
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: keycloak
    command:
      - start-dev
      - --http-port=8080
      - --import-realm
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8081:8080"
    volumes:
      - keycloak-data:/opt/keycloak/data
      - ./keycloak:/opt/keycloak/data/import
    restart: unless-stopped

volumes:
  blazor-game-data:
  keycloak-data:
