@page "/new-adventure"


<h3>Nouvelle aventure (composant statique V1)</h3>

<div>
@*     <button @onclick="StartDemo">Commencer (demo)</button> *@
    <a class="btn" href="/adventure">Commencer (démonstration)</a>
</div>


<style>
    .adventure-card {
        padding: 1rem;
        border: 1px dashed #ccc;
        border-radius: 8px;
    }

    .btn {
        display: inline-block;
        padding: .5rem 1rem;
        background: #0078d4;
        color: white;
        border-radius: 6px;
        text-decoration: none;
    }

</style>

